/* Created by ob3calp */

/* Basic reset
--------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    line-height: 1.625;
}

body {
    width: 90%;
    max-width: 640px;
    margin: auto;
    }

/* Typography
--------------------------------*/

/* Fonts */

figcaption, footer, .logo, .topmenu, .byline {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, p, blockquote, .lede, .list {
    font-family: Georgia, Times, "Times New Roman", serif;
}

table, code {
    font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

figcaption {
    font-size: 0.8125em;
}

footer {
    font-size: 0.8125em;
    text-transform: uppercase;
    text-align: center;
}

.logo a {
    font-size: 2.625em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-decoration: none;
    text-align: left;
}

.logo a:hover {
    text-decoration: none;
}

.topmenu a {
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: underline;
    text-align: right;
}

.topmenu a:hover {
    text-decoration: underline;
}

.byline {
    font-size: 0.8125em;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.625em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: 1em;
}

.lede {
    font-size: 1.25em;
    text-align: center;
}

table {
    font-size: 0.8125em;
}

code {
    font-size: 0.8125em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Coloring
--------------------------------*/

body, .logo a, .topmenu a, .byline {
    color: #303020;
    background-color: #efefeb;
}

.logo a:hover, .topmenu a:hover {
    color: #df3f3f;
}

.topmenu a {
    text-decoration-color: #bf0f0f;
}

.byline time, figcaption, blockquote {
    color: #7f7f77;
}

code {
    color: #efefeb; 
    background-color: #303020;
}

a {
    color: #bf0f0f;
}

a:hover {
    color: #df3f3f;
}

/* Layout
--------------------------------*/

header, article, p, footer, .logo, .topmenu, .byline, .list {
    margin: 1em 0;
}

.topmenu li {
    display: inline-block;
    margin: 0 1em 0 0;
}

hr {
    border: 0;
    height: 1px;
    background: #303020;
}

figure, video {
    display: block;
    width: 100%;
    margin: auto;
}

img {
    max-width: 100%;
}

blockquote {
    display: block;
    margin: 0 1em;
    border-left: .375em solid #bf0f0f;
    padding: 0.625em;
}

table, th, td {
    border: 1px solid #303020;
    border-collapse: collapse;
    padding: 0 0.625em;
}

table {
    width: 100%;
}

pre code {
    display: block;
    margin: 0 1em;
    padding: 1em;
    overflow: auto;
}